body,ul,ol,dl,dd,p,h1,h2,h3,h4,h5,h6,input,textarea,hr{
    margin:0;
    padding:0;
}
body{
    font-family: "微软雅黑";
}
html,body{
    height: 100%;
}
ul,ol{
    list-style: none;
}
a{
    text-decoration: none;
}
img{
    border: none;
    display: block;
}

.head{
    width: 100%;
    height: 80%;
    background: #f4f4f4;
} 
    .headSmall{
        width: 600px;
        margin: auto;
        /* background: skyblue; */
    }
    .headSmall img{
        width: 160px;
        height: 48px;
        padding: 46px 0;
        margin: auto;
        margin-bottom: 25px;
    }
    .writ{
        background: white;
        width: 600px;
        height: 484px;
        text-align: center;
    }
        .writ h2{
            padding-top: 35px;
            margin-bottom: 40px;
            color: #005BAB;
            font-weight: 100;
        }
        .writSmall{
            width: 370px;
            height: 317px;
            /* background: skyblue; */
            margin: auto;
        }
        .inp{
            width: 370px;
            text-align: center;
            height: 42px;
            border: 1px solid #595757;
            border-top-left-radius: 21px;
            border-top-right-radius: 21px;
            border-bottom-left-radius: 21px;
            border-bottom-right-radius: 21px;
            position: relative;
            top: 0;
        }
        .iconfont{
           font-size: 26px;
           color:#595757 ;
           position: absolute;
           left: 10px;
           top: 6px;
        }
        .inp .icon-jiemao{
            margin-left: 88%;
            z-index: 2;
        }
        .inp .icon-yanjing{
            display: none;
        }
        .inp input{
            width: 60%;
            height: 38px;
        }


        
        .inpu{
            width: 200px;
            text-align: center;
            height: 42px;
            border: 1px solid #595757;
            border-top-left-radius: 21px;
            border-top-right-radius: 21px;
            border-bottom-left-radius: 21px;
            border-bottom-right-radius: 21px;
            position: relative;
            top: 0;
        }
        .inpu input{
            width: 200px;
            height: 38px;
            margin-left: 40px;
        }
        .writSmall .inpu{
            width: 180px;
        }
        .writSmall .inpu button{
            height: 42px;
            background: pink;
            width: 140px;
        }

        .foot{
            width: 100%;
            height: 20%;
        }