#lodoo{
    .logoTop{
        .logoLeft{
             a:hover{
                text-decoration:none;
                }
            }
        }
    }
#box{
    width:1100px;
    margin:20px auto;
    ul{
        width: 1100px;
         display:flex;
         justify-content:space-between;
         flex-wrap:wrap;
         margin: 0 auto;
        li{
            width:254px;
            height:422px;
            margin-bottom:11px;
            border:1px solid #e3e0e0;
            padding-left: 10px;
            text-align: center;
            a{
                width: 221px;
                margin: 0 auto;
                position: relative;
                .picbig{
                    margin-bottom: 15px;
                }
                .picsma{
                    margin-bottom: 15px;
                    margin-left: 20px;
                }
                .picdz{
                    margin-bottom: 20px;
                    margin-left: 20px;
                }
                .sk{
                    position: absolute;
                    top:200px;
                }
            }
          
            p{
                 color:black;
                font-size: 12px;
                margin-bottom: 20px;
            }
            span{
                color: #cc0000;
                font-size: 14px;
                font-weight: 800;
                margin-bottom: 14px;
                display: block;
            }
            .thaa{
                width: 268px; 
                height: 18px;
                display: flex;
                justify-content: space-between;
                a{
                    width: 88px;
                    border-right: 1px solid black;
                    font-size: 12px;
                    color: black;
                    line-height: 18px;
                    padding-right: 10px;
                    img{
                        display: inline-block;
                        margin-right: 4px;
                    }
                }
                a:hover{text-decoration:none;}
            }
        }
        li:hover{
            border: 1px solid blue;
        }
    }
}
.xia{
    width: 100%;
    .xiasma{
        width: 350px;
        height: 50px;
        margin: auto;
        a{
            margin: 0 20px;
        }
    }
}
.check{
    width: 100%;
    margin-bottom: 72px;
    .checksma{
        width: 1100px;
        margin: 0 auto;
        h2{
            text-align: center;
            margin-top: 100px;
            margin-bottom: 30px;
        }
        table{
            width: 1100px;
            tr{
                width: 1100px;
                height: 43px;
                line-height: 43px;
                border-bottom: 1px solid #898989;
                td{
                    width: 157px;
                    text-align: left;
                    color:#898989;
                    font-size: 12px;
                    a{
                        display: block;
                        width: 70px;
                        height: 24px;
                        border: 1px solid #898989;
                        text-align: center;
                        line-height: 24px;
                        color: black;
                        font-size: 12px;
                    }
                    input{
                        vertical-align:baseline;
                        vertical-align:text-bottom;
                        margin-right: 6px;
                    }
                }
            }
        }
        .ttw{
            
            width: 370px;
            height: 30px;
            display: flex;
            justify-content: space-between;
            margin-left:730px;
            margin-top: 10px;
            a{
                display: block;
                width: 180px;
                height: 30px;
            }
            .ona{
                background: black;
                color: white;
                line-height: 30px;
                text-align: center;
            }
            .twa{
                background: #898989;
                color: #FAFAFA;
                line-height: 30px;
                text-align: center;
            }
        }
    }
}

.duo{
    width: 100%;
    .duosma{
        margin: 0 auto;
        width: 1100px;
        height: 40px;
        display: flex;
        justify-content: space-between;
        border-top: 1px solid black;
        padding-top: 10px;
        a{
            display: block;
            width: 182px;
            height: 30px;
            line-height:30px;
            text-align: center;
            font-size: 12px;
            color: black;
            background: #FAFAFA;
            input{
                vertical-align:baseline;
                vertical-align:text-bottom;
                margin-right: 6px;
            }
        }
    }
}