@charset "utf-8";

body,ul,ol,dl,dd,p,h1,h2,h3,h4,h5,h6,input,textarea,hr{
    margin:0;
    padding:0;
}
body{
    font-family: "微软雅黑";
}
html,body{
    height: 100%;
}
ul,ol{
    list-style: none;
}
a{
    text-decoration: none;
}
img{
    border: none;
    display: block;
}
.head{
    width: 100%;
    height: 80%;
    background: #f4f4f4;
    .headSmall{
        width: 600px;
        margin: auto;
        img{
            width: 160px;
            height: 48px;
            padding: 46px 0;
            margin: auto;
            margin-bottom: 25px;
        }
        .writ{
            background: white;
            width: 600px;
            height: 484px;
            text-align: center;
            h2{
                padding-top: 20px;
                margin-bottom: 25px;
                color: #005BAB;
                font-weight: 100;
            }
            .writSmall{
                width: 400px;
                height: 317px;
                margin: auto;
                #spa{
                   float: left;
                   height: 42px;
                   line-height: 42px;
                }
                .kong{
                    width: 300px;
                    height: 24px;
                    padding-left: 10px;
                    text-align: left;
                    color: #a94442;
                    p{
                        width: 300px;
                        height: 24px;
                        padding-left: 10px;
                        text-align: left;
                    }
                }
                }
               
                .inp{
                    width: 380px;
                    text-align: center;
                    height: 42px;
                    border: 1px solid #e6e6e6;
                    border-top-left-radius: 21px;
                    border-top-right-radius: 21px;
                    border-bottom-left-radius: 21px;
                    border-bottom-right-radius: 21px;
                    top: 0;
                    text-align: left;
                    margin-bottom: 20px;
                  
                    .iconfont{
                        font-size: 26px;
                        color:#e6e6e6;
                       display: block;
                        margin-left: 10px;
                        margin-top: 5px;
                        float: left;
                     }
                    .icon-jiemao{
                        margin-left: 88%;
                        z-index: 2;
                     }
                    .icon-yanjing{
                        display: none;
                     }
                    input{
                        width: 60%;
                        height: 42px;
                        border: none;
                        margin-left: 30px;
                     }
                }
                .sel{
                    width: 353px;
                    text-align: left;
                    font-size: 14px;
                    color: #bababa;
                    margin-bottom:32px;
                    a{
                        color: #005bb0;
                    }
                }
                .bot{
                    width:370px;
                    height: 42px;
                    margin-bottom: 18px;
                    button{
                        width:370px;
                        color: white;
                        font-size: 16px;
                        background: #5a5a5a;
                        height: 42px;
                        border-top-left-radius: 21px;
                        border-top-right-radius: 21px;
                        border-bottom-left-radius: 21px;
                        border-bottom-right-radius: 21px;
                    }

                }
                .denglu{
                    a{
                        color: #005bb0;
                        font-size: 13px;
                    }
                }
                #yanz{
                    width: 300px;
                    height: 24px;
                    padding-left: 10px;
                    text-align: left;
                    // margin-bottom: 20px;
                    #sha{
                        width: 300px;
                        height: 24px;
                        padding-left: 10px;
                        text-align: left;
                    }
                }
                .inputLe{
                    width: 370px;
                    display: flex;
                    justify-content: space-between;
                .inpu{
                    width: 240px;
                    text-align: center;
                    height: 42px;
                    border: 1px solid #e6e6e6;
                    border-top-left-radius: 21px;
                    border-top-right-radius: 21px;
                    border-bottom-left-radius: 21px;
                    border-bottom-right-radius: 21px;
                    text-align: left;
                   
                    input{
                        width: 140px;
                        height: 42px;
                        margin-left: 30px;
                        border: none;
                    } 
                }              
                  }  
                #but{
                    height: 40px;
                    background: #dedede;
                    width: 60px;
                    border: 1px solid #dedede;
                    color:#595757 ;
                    border-top-left-radius: 21px;
                    border-top-right-radius: 21px;
                    border-bottom-left-radius: 21px;
                    border-bottom-right-radius: 21px;
                    outline:none; 
                    }
                }
            }
        } 
    
.foot{
    width: 100%;
    height: 20%;
    text-align: center;
    
    .footSmall{
        color: #595757;
        font-size: 13px;
        a{
            color: #595757;
        }
        P{
            padding-top: 52px;
            margin-bottom: 22px;
        }


        }
    }
